<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce Website</title>
    <link rel="stylesheet" href="/static/homedeco.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
          <img src="/static/Screbdhh22.png" alt="Logo" >
        </div>
        <ul class="nav-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Login</a></li>
          <li class="search">
            <input type="text" placeholder="Search...">
            <button>Search</button>
          </li>
        </ul>
        <div class="cart">
          <img src="/static/kart.png" ">
          <span>
          <img src="/static/bag.png" ></span>
          <img src="/static/myaccount.png"  class="cart-count">
        </div>
    </nav>
    <div class="container">
      <marquee> Big deal upto 40% off on clothes /phone and laptops </marquee>
    </div>
    
    <div class="top-bar">
      <table>
        <tr id="top-link">
        <td><a href="#"><img src="/static/user-interface.png"></a></td>
        <td><a href="#"><img src="/static/cosmetics.png"></a></td>
        <td><a href="#"><img src="/static/washing.png"></a></td>
        <td><a href="#"><img src="/static/wedding.png"></a></td>
        <td><a href="#"><img src="/static/laptop.png"></a></td>
        <td><a href="#"><img src="/static/physical.png"></a></td>
        <td><a href="#"><img src="/static/shopping-bag.png"></a></td>
        </tr>
      </table>
    </div>
  <div class="product">
    <table class="tablesuit" cellspacing="20px" rowspan="6px" rules="rows" rules="columns" height="2px">
      <tr>
        <td><div class="suitimg"><img src="/static/suit.jpg" width=100px width=200px></div></td>
        <td>
          <div class="textsuit">
            <h4  align="left">priyanjali creation  Women pure cotton Kurta <br>Pant Dupatta Set</h4>
            <p align="left"><span color='green'><b>50%</b>  </span><strike>2000</strike text="blue">Rs.1000</p>
            <button type="submit"  style="background-color:rgb(96, 165, 244); border-color:#fff;width:100px; height:30px;color:#fff ;border-radius:20px;display:block;margin:rigth:400px;curson:pointer">Buy</button>
            <button type="submit" style="background-color:rgb(96, 165, 244); border-color:#fff;width:100px; height:30px;color:#fff ;border-radius:20px;display:block;margin:rigth:400px;margin-top:10px;">Add to kart</button>
          </div>
        </td>
      </tr>

      <tr>
      <td><div class="suitimg"><img src="/static/vivobook.jpg" width=100px width=200px></div></td>
        <td>
          <div class="textsuit">
            <h4  align="left">ASUS Vivobook 15 IntelCore<br>i5 12th gen 1235u-(16 Gb SSD /512 Gb SSD/window 11 home)<br> thin and light laptop ,quite blue ,1.70kg with ms office</h4>
            <p align="left"><span color='green'><b>28%</b>  </span><strike>74990</strike text="blue">Rs.53990</p>
            <button type="submit"  style="background-color:rgb(96, 165, 244); border-color:#fff;width:100px; height:30px;color:#fff ;border-radius:20px;display:block;margin:rigth:400px;curson:pointer">Buy</button>
            <button type="submit" style="background-color:rgb(96, 165, 244);margin-bottom:20px; border-color:#fff;width:100px; height:30px;color:#fff ;border-radius:20px;display:block;margin:rigth:400px;margin-top:10px;">Add to kart</button>            
          </div>
        </td>
      </tr>

      <tr>
      <td><div class="suitimg"><img src="/static/kurta.jpg" width=100px width=200px></div></td>
        <td>
          <div class="textsuit">
            <h4  align="left">ALMORA Men Embroidered Cotton Rayon<br>A-line kurta (blue)</h4>
            <p align="left"><span color='green'><b>77%</b>  </span><strike>3560</strike text="blue">Rs 799</p>
            <button type="submit"  style="background-color:rgb(96, 165, 244); border-color:#fff;width:100px; height:30px;color:#fff ;border-radius:20px;display:block;margin:rigth:400px;curson:pointer">Buy</button>
            <button type="submit" style="background-color:rgb(96, 165, 244); border-color:#fff;width:100px; height:30px;color:#fff ;border-radius:20px;display:block;margin:rigth:400px;margin-top:10px;">Add to kart</button>
          </div>
        </td>
      </tr>

      <tr>
      <td><div class="suitimg"><img src="/static/himalya.jpg" width=100px width=200px></div></td>
        <td>
          <div class="textsuit">
            <h4  align="left">Himalya Neem face wash  <br>prevent pimple anti bacterial face wash  250ml</h4>
            <p align="left"><span color='green'><b>22%</b>  </span><strike>225</strike text="blue">Rs.175</p>
            <button type="submit"  style="background-color:rgb(96, 165, 244); border-color:#fff;width:100px; height:30px;color:#fff ;border-radius:20px;display:block;margin:rigth:400px;curson:pointer" >Buy</button>
            <button type="submit" style="background-color:rgb(96, 165, 244); border-color:#fff;width:100px; height:30px;color:#fff ;border-radius:20px;display:block;margin:rigth:400px;margin-top:10px;">Add to kart</button>
          </div>
        </td>
      </tr>

      <tr>
        <td><div class="suitimg"><img src="/static/xiome.jpg" width=100px width=200px></div></td>
        <td>
          <div class="textsuit">
            <h4  align="left">Xiaomi 12 pro 5G (Noir black ,256 GB /12Gb RAM<br> Rear camera 50Mp+50Mp+50Mp /front 32 MP display 6.73 inch FHD +2k+AMOLED display <br> battery 4600mAh/Snapdragon 8Gen1 |octa core|</h4>
            <p align="left"><span color='green'><b>36%</b>  </span><strike>84999</strike text="blue">Rs.53990</p>
            <button type="submit"  style="background-color:rgb(96, 165, 244); border-color:#fff;width:100px; height:30px;color:#fff ;border-radius:20px;display:block;margin:rigth:400px;curson:pointer" >Buy</button>
            <button type="submit" style="background-color:rgb(96, 165, 244); border-color:#fff;width:100px; height:30px;color:#fff ;border-radius:20px;display:block;margin:rigth:400px;margin-top:10px;margin-bottom:20px">Add to kart</button>
          </div>
        </td>
      </tr>

      <tr>
        <td><div class="suitimg"><img src="/static/bats.jpg" width=100px width=200px></div></td>
        <td>
          <div class="textsuit">
            <h4  align="left">MRF sport Power strike  bat Cricket  for   adult<br>Heavy wodden  light weight </h4>
            <p align="left"><span color='green'><b>73%</b>  </span><strike>1499</strike text="blue">Rs.399</p>
            <button type="submit"  style="background-color:rgb(96, 165, 244); border-color:#fff;width:100px; height:30px;color:#fff ;border-radius:20px;display:block;margin:rigth:400px;curson:pointer">Buy</button>
            <button type="submit" style="background-color:rgb(96, 165, 244); border-color:#fff;width:100px; height:30px;color:#fff ;border-radius:20px;display:block;margin:rigth:400px;margin-top:10px;">Add to kart</button>
          </div>
        </td>
      </tr>

      <tr>
        <td><div class="suitimg"><img src="/static/oil.jpg" width=100px width=200px></div></td>
        <td>
          <div class="textsuit">
            <h4  align="left">King soya oil <br> |vegetarian|</h4>
            <p align="left"><span color='green'><b>10%</b>  </span><strike>100</strike color="blue">Rs.90</p>
            <button type="submit"  style="background-color:rgb(96, 165, 244); border-color:#fff;width:100px; height:30px;color:#fff ;border-radius:20px;display:block;margin:rigth:400px;curson:pointer">Buy</button>
            <button type="submit" style="background-color:rgb(96, 165, 244); border-color:#fff;width:100px; height:30px;color:#fff ;border-radius:20px;display:block;margin:rigth:400px;margin-top:10px;">Add to kart</button>
          </div>
        </td>
      </tr>
    </table>


  </div>
        

   
    <script src="/static/homescript.js"></script>
</body>
</html>